/* general */
body {
  margin: 0;
  padding: 0;
  font-family: "Lato", sans-serif;
  overflow-x: hidden;
  background: #FDFFF7;

}

/* header */
header {
  background: #b74f47;
  color: white;
  padding: 20px;
  top: 0;
  position: sticky;
  display: flex;
  align-items: center;
  justify-content: space-between; 
  flex-wrap: wrap;
  z-index: 10;
}

header a {
  padding-right: 20px;	
  text-decoration: none;
  line-height: 25px;
  border-radius: 4px;
  color: white;
}

.logo a {
  display: flex;
  align-items: center;
  text-decoration: none;
  color: white;
  font-size: 24px;
  font-weight: bold;
}

.links {
  float: right;
}

/* main */
main {
  flex: 1;
  font-size: 20px;
}

.text {
  padding: 3rem 10rem;
}

/* footer */
footer {
  background: #b74f47;
  color: white;
  padding: 20px;
  bottom: 0;
}

@media screen and (max-height: 450px) and (max-width: 1100px) {
  header a {font-size: 20px;}
  html {scroll-padding-top: 200px;}
}

@media screen and (min-height: 450px) and (min-width: 1100px) {
  header a {font-size: 25px;}
  html {scroll-padding-top: 120px;}


h2 {
  color: #b74f47;
}

.showcaseImage {
  display: inline;
  transition: box-shadow 0.3s ease;
}

.showcaseImage:hover {
  box-shadow: 8px 8px 15px rgba(0, 0, 0, 0.5);
}